Date: <%= @mention.created_at %>
From: "<%= @mention.user.name %>" <<%= @config['mail']['mailbox'] %>+<%= @mention.user.screen_name%>@<%= @config['mail']['delivery_configuration'][:domain] %>>
Subject: Tweet from <%= @mention.user.name %> (@<%= @mention.user.screen_name %>)
To: <%= @config['mail']['to'] %>
Message-Id: <<%= @mention.id %>@<%= @config['mail']['mailbox'] %>-<%= @config['auth_token'] %>.<%= @config['mail']['delivery_configuration'][:domain] %>>
X-Burnside: ignore